/.env
/vendor/
/composer.lock
/node_modules/
/wp-content/cache/
/wp-content/wflogs/
/logs/
/usage/
/stats/
/wp-content/uploads/cache/
/wp-content/uploads/backwpup-*/
/wp-content/uploads/wpforms/cache/
/wp-content/uploads/sites/*/wpforms/cache/
/wp-content/uploads/wpcf7_captcha/
/wp-content/wflogs/
/.user.ini
/resmushit.log
.idea/
package-lock.json