# pagespeed
RewriteEngine On
RewriteCond %{REQUEST_URI} !pagespeed\.php [NC]
RewriteCond %{REQUEST_URI} !(.+)\.(.+)$ [NC]
RewriteCond %{HTTP_USER_AGENT} (Chrome-Lighthouse) [NC,OR] # desktop and mobile
RewriteCond %{QUERY_STRING} pagespeed=1 [NC]
#RewriteCond %{HTTP_USER_AGENT} (Mobile.+Lighthouse) [NC] # mobile only
#RewriteCond %{HTTP_USER_AGENT} (Firefox|Chrome) [NC] # test
RewriteRule ^(.*)$ wp-content/themes/blank/pagespeed.php?path=$1 [L,QSA]

# block access to dot-files and dot-folders (except .well-known)
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_URI} "!(^|/)\.well-known/([^./]+./?)+$" [NC]
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\." - [F]
</IfModule>

# block access to sensitive files (special filetypes and composer/package)
<IfModule mod_rewrite.c>
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(\.(db|bak|conf|dist|fla|in[ci]|log|orig|psd|sh|sql|sw[op])|composer\.json|composer\.lock|gulpfile\.js|package-lock\.json|package\.json)$" - [F]
</IfModule>

# block access to vendor folder (independant of location)
<IfModule mod_rewrite.c>
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|\/)vendor\/" - [F]
</IfModule>

# password on testing
<IfModule !mod_win32.c>
<If "%{REQUEST_METHOD} != 'OPTIONS'">
SetEnvIf HOST "close2dev\.de" protected
#SetEnvIf Request_URI "wp-json" !protected
# allow wordfence
SetEnvIf Remote_Addr "^44\.239\.130\.172$" !protected
SetEnvIf Remote_Addr "^44\.238\.191\.15$" !protected
SetEnvIf Remote_Addr "^35\.155\.126\.231$" !protected
SetEnvIf Remote_Addr "^54\.68\.32\.247$" !protected
SetEnvIf Remote_Addr "^44\.235\.211\.232$" !protected
SetEnvIf Remote_Addr "^54\.71\.203\.174$" !protected
<If "%{THE_REQUEST} =~ m#wp-json#">
SetEnvIf Request_URI ".*" !protected
</If>
SetEnvIf Cookie "access_token" !protected
Order Allow,Deny
AuthType Basic
AuthName "Interner Bereich"
AuthUserFile /www/htdocs/xxxxxxxx/xxx.close2dev.de/.htpasswd
AuthGroupFile /dev/null
require valid-user
Allow from all
Deny from env=protected
Satisfy any
</If>
</IfModule>

# increase limits via .htaccess (this only works when PHP is not running in CGI mode)
#<IfModule mod_php7.c>
#php_value max_execution_time 2400
#php_value max_input_time 900
#php_value post_max_size 800M
#php_value memory_limit 512M
#php_value upload_max_filesize 800M
#php_value max_input_vars 100000
#php_value max_file_uploads 5000
#php_value realpath_cache_size 4M
#</IfModule>

# enable hsts (security addition)
Header set Strict-Transport-Security max-age=31536000
Header set X-Frame-Options "sameorigin"
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"

# enable cors (use a stricter version if needed)
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Authorization"    
</IfModule>

# deflate / gzip
<IfModule mod_deflate.c>
    <FilesMatch "\.(html|js|css|svg|woff|woff2)$">
        ExpiresActive on
        ExpiresDefault "access plus 365 days"
        SetOutputFilter DEFLATE
    </FilesMatch>
    <FilesMatch "\.(jpg|jpeg|gif|png|css)$">
        ExpiresActive on
        ExpiresDefault "access plus 365 days"
    </FilesMatch>
</IfModule>

# no directory browsing
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# prevent discovery of author-names
RewriteCond %{REQUEST_URI} !^/wp-admin [NC]
RewriteCond %{QUERY_STRING} author=\d
RewriteRule ^ /? [L,R=301]

# mime types
#AddType video/mp4 .mp4 
#AddType video/x-m4v .m4v
#AddType video/webm .webm 
#AddType audio/webm .weba
#AddType video/ogg .ogm 
#AddType video/ogg .ogv 
#AddType video/ogg .ogg
#AddType image/svg+xml .svg .svgz

# ssl
RewriteEngine On
RewriteCond %{HTTP_HOST} !\.local$ [NC]
RewriteCond %{HTTP_HOST} !\.xip\.io$ [NC]
RewriteCond %{HTTP_HOST} !\.close2dev\.de$ [NC]
RewriteCond %{HTTP_HOST} !\.vielhuber\.de$ [NC]
RewriteCond %{HTTPS} !=on [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# www
RewriteEngine On
RewriteCond %{HTTP_HOST} !\.local$ [NC]
RewriteCond %{HTTP_HOST} !\.xip\.io$ [NC]
RewriteCond %{HTTP_HOST} !\.close2dev\.de$ [NC]
RewriteCond %{HTTP_HOST} !\.vielhuber\.de$ [NC]
RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# non-www
#RewriteEngine On
#RewriteCond %{HTTP_HOST} !\.local$ [NC]
#RewriteCond %{HTTP_HOST} !\.xip\.io$ [NC]
#RewriteCond %{HTTP_HOST} !\.close2dev\.de$ [NC]
#RewriteCond %{HTTP_HOST} !\.vielhuber\.de$ [NC]
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]
# non-ssl on dev
RewriteEngine On
RewriteCond %{HTTP_HOST} \.local|\.vielhuber\.de|\.xip\.io$ [NC]
RewriteCond %{HTTPS} =on [NC]
RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# BEGIN WordPress
# Die Anweisungen (Zeilen) zwischen „BEGIN WordPress“ und „END WordPress“ sind
# dynamisch generiert und sollten nur über WordPress-Filter geändert werden.
# Alle Änderungen an den Anweisungen zwischen diesen Markierungen werden überschrieben.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Wordfence WAF
<Files ".user.ini">
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
</IfModule>
</Files>
# END Wordfence WAF
