<IfModule mod_deflate.c>
    <FilesMatch "\.(js|jpg|jpeg|gif|png|css|svg)$">
        ExpiresActive on
        ExpiresDefault "access plus 365 days"
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

# wordpress stuff ...