# prevent access to dotfiles like .git
RedirectMatch 404 /\..*$

# prevent access to composer files
RedirectMatch 404 composer.json$
RedirectMatch 404 composer.lock$

# password on testing
<IfModule !mod_win32.c>
SetEnvIf HOST "close2dev\.de" protected
#SetEnvIf Request_URI "wp-json" !protected
<If "%{THE_REQUEST} =~ m#wp-json#">
SetEnvIf Request_URI ".*" !protected
</If>
SetEnvIf Cookie "access_token" !protected
Order Allow,Deny
AuthType Basic
AuthName "Interner Bereich"
AuthUserFile /www/htdocs/xxxxxxxx/xxx.close2dev.de/.htpasswd
AuthGroupFile /dev/null
require valid-user
Allow from all
Deny from env=protected
Satisfy any
</IfModule>

# increase limits via .htaccess (this only works when PHP is not running in CGI mode)
<IfModule mod_php7.c>
php_value max_execution_time 2400
php_value max_input_time 900
php_value post_max_size 800M
php_value memory_limit 512M
php_value upload_max_filesize 800M
php_value max_input_vars 100000
php_value max_file_uploads 5000
php_value realpath_cache_size 4M
</IfModule>

# enable hsts (security addition)
Header set Strict-Transport-Security max-age=31536000
Header set X-Frame-Options "sameorigin"
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"

# deflate / gzip
<IfModule mod_deflate.c>
    <FilesMatch "\.(html|js|css|svg|woff|woff2)$">
        ExpiresActive on
        ExpiresDefault "access plus 365 days"
        SetOutputFilter DEFLATE
    </FilesMatch>
    <FilesMatch "\.(jpg|jpeg|gif|png|css)$">
        ExpiresActive on
        ExpiresDefault "access plus 365 days"
    </FilesMatch>
</IfModule>

# no directory browsing
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# prevent discovery of author-names
RewriteCond %{REQUEST_URI} !^/wp-admin [NC]
RewriteCond %{QUERY_STRING} author=\d
RewriteRule ^ /? [L,R=301]

# mime types
AddType video/mp4 .mp4 
AddType video/x-m4v .m4v
AddType video/webm .webm 
AddType audio/webm .weba
AddType video/ogg .ogm 
AddType video/ogg .ogv 
AddType video/ogg .ogg
AddType image/svg+xml .svg .svgz

# ssl
RewriteEngine On
RewriteCond %{HTTP_HOST} !\.local$ [NC]
RewriteCond %{HTTP_HOST} !\.xip\.io$ [NC]
RewriteCond %{HTTP_HOST} !\.close2dev\.de$ [NC]
RewriteCond %{HTTP_HOST} !\.vielhuber\.de$ [NC]
RewriteCond %{HTTPS} !=on [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# www
RewriteEngine On
RewriteCond %{HTTP_HOST} !\.local$ [NC]
RewriteCond %{HTTP_HOST} !\.xip\.io$ [NC]
RewriteCond %{HTTP_HOST} !\.close2dev\.de$ [NC]
RewriteCond %{HTTP_HOST} !\.vielhuber\.de$ [NC]
RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# non-www
#RewriteEngine On
#RewriteCond %{HTTP_HOST} !\.local$ [NC]
#RewriteCond %{HTTP_HOST} !\.xip\.io$ [NC]
#RewriteCond %{HTTP_HOST} !\.close2dev\.de$ [NC]
#RewriteCond %{HTTP_HOST} !\.vielhuber\.de$ [NC]
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
